/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sora', sans-serif;
}

.container {
  margin: auto;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.btn {
  padding: 12px 24px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  font-family: 'Sora', sans-serif;
  border: none;
  border-radius: 8px;
  height: 45px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
  background-color: #ff6700;
  color: #fff;
}

/* Style for the navbar */
.navbar {
  background-color: #fff;
  color: #051923;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #051923;
  font-weight: 400;
}

.nav-links a:hover {
  color: #ff6700;
}

.nav-links a::after {
  display: block;
  content: '';
  border-bottom: solid 3px #ff6700;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  margin-top: 5px;
}

.nav-links a:hover:after {
  transform: scaleX(1);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  top: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  left: 0;
  width: 250px;
  padding: 8px;
  border-radius: 6px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 3px 0;
}

/* Style for the hero */
.hero {
  text-align: center;
  margin-top: 80px;
}

.hero h1 {
  font-weight: 800;
  font-size: 64px;
  letter-spacing: -1px;
}

.hero p {
  color: rgba(0, 0, 0, 0.50);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 180%;
  letter-spacing: -0.6px;
  margin-top: 20px;
}

.hero button {
  margin-top: 20px;
}

.hero-image {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.hero-image img {
  max-width: 40%;
  border-radius: 8px;
}

/* Style for our clients */
.our-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.our-clients .column-first {
  display: flex;
  max-width: 50%;
}

.our-clients .column-second {
  display: flex;
  max-width: 50%;
}

.client-logo {
  flex: 1;
  max-height: 150px;
  margin: 10px;
  text-align: center;
}

.client-logo img {
  max-width: 50%;
  height: auto;
}

/* Style for our contribution */
.our-contribution {
  margin-top: 120px;
  background-color: #004E98;
  padding: 100px 0px;
}

.our-contribution h1 {
  margin-bottom: 64px;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.our-contribution .container {
  display: flex;
  justify-content: space-between;
}

.our-contribution .highlight-box {
  text-align: center;
}

.our-contribution .highlight-box h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}

.our-contribution .highlight-box p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

/* Style for feature */
.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 120px;
  gap: 24px;
}

.feature-image {
  flex: 1;
  text-align: center;
}

.feature-image img {
  max-width: 100%;
  height: auto;
}

.feature-text {
  flex: 1.2;
}

.feature-text h1 {
  color: #000;
  display: flex;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
  align-items: center;
}

.feature-text h1 img {
  margin-left: 8px;
}

.feature-text p {
  color: rgba(0, 0, 0, 0.50);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.6px;
}

.feature-columns {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.feature-column {
  flex: 1;
}

.feature-list {
  list-style-type: disc;
}

.feature-list li {
  padding: 10px 0;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

/* Style for program */
.program {

  margin-top: 120px;
  background-color: #ebebeb;
}

.program .inner-program {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 80px;
}

.program .section-title {
  width: 100%;
  margin-bottom: 48px;
}

.program .section-title h2 {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.program .section-title p {
  color: rgba(0, 0, 0, 0.50);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.6px;
  max-width: 75%;
}

.program-card {
  flex: 1;
  margin-right: 20px;
  max-width: calc(33.3333% - 20px);
}

.program-image {
  position: relative;
  overflow: hidden;
}

.program-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.program-overlay {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .51));
  color: #fff;
  height: 100%;
  border-radius: 8px;
}

.program-overlay h5 {
  margin: 0;
  font-size: 24px;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
  left: 0;
  font-weight: 600;
  padding: 24px 16px;
}

/* Style untuk section mentors */
.mentors {
  margin-top: 120px;
}

.mentors .section-title {
  width: 100%;
  margin-bottom: 48px;
}

.mentors .section-title h2 {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.mentors .section-title p {
  color: rgba(0, 0, 0, 0.50);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.6px;
}

.mentors .inner-mentors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mentors .inner-mentors .mentor img {
  height: 200px;
  border-radius: 8px;
}

.mentors .inner-mentors .mentor h3 {
  margin-top: 16px;
}

.mentors .inner-mentors .mentor p {
  margin-top: 8px;
}

/* Style for testimonial */
.testimonials {
  margin-top: 120px;
  background-color: #ebebeb;
  padding: 80px 0;
}

.testimonials .inner-testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonials .section-title {
  width: 100%;
  margin-bottom: 48px;
  text-align: center;
}

.testimonials .section-title h2 {
  color: #000;
  font-size: 40px;
  font-weight: 600;
}

.testimonial-card {
  max-width: calc(33.3333% - 20px);
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background: #004E98;
  color: #FFF;
}

.testimonial-card .header {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 10px;
}

.testimonial-card>* {
  padding: 10px;
  line-height: 1.5;
}

.testimonial-card .header .name {
  font-size: 1.2em;
}

.testimonial-card .avatar {
  border-radius: 50%;
}

.testimonial-card .title {
  font-size: 1.7em;
}

.testimonial-card .status {
  color: inherit;
  opacity: 0.5;
}

.testimonial-card .quote {
  font-size: 1.1em;
  color: inherit;
  opacity: 0.7;
}

.testimonial-card .quote::before {
  content: open-quote;
}

.testimonial-card .quote::after {
  content: close-quote;
}

/* Style for CTA */
.cta {
  background-color: #004E98;
  color: #FFF;
}

.cta .inner-cta {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 80px 0;
}

.cta .cta-text {
  flex: 1;
  place-self: center;
}

.cta .cta-text h2 {
  font-size: 24px;
  margin: 0;
}

.cta .cta-text p {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.6px;
  margin-top: 20px;
}

.cta .btn {
  margin-top: 24px;
}

.cta-image {
  text-align: center;
  flex: 1;
}

.cta-image img {
  max-width: 80%;
  height: 80%;
  border-radius: 10px;
}

/* Style for footer */
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 120px 50px 20px 50px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer>* {
  flex: 1 100%;
}

.footer-address {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer-logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer-address h2 {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 600;
}

.nav-title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
  margin-top: 8px;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 8px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 12px 24px;
  transition: background-color 0.3s ease,
    color 0.3s ease;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer-nav {
  display: flex;
  flex-flow: row wrap;
}

.footer-nav>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav-ul a {
  color: #999;
}

.nav-ul-extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal-links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {

  /* Style for navbar mobile */
  .navbar {
    padding: 20px 10px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    text-align: left;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    transition: all 0.3s ease-in;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 24px 29px 0px;
  }

  .nav-links li {
    margin-right: 0;
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .dropdown-menu {
    width: 100%;
    z-index: 1;
  }

  .hamburger {
    display: flex;
  }

  /* Style for hero mobile */
  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 13px;
  }

  /* Style for our clients mobile */
  .our-clients {
    flex-direction: column;
  }

  .our-clients .column-first {
    max-width: 100%;
  }

  .our-clients .column-second {
    max-width: 100%;
  }

  .our-clients .client-logo img {
    max-width: 65%;
  }

  /* Style for our contribution mobile */
  .our-contribution h1 {
    font-size: 32px;
  }

  .our-contribution .container {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .our-contribution .highlight-box {
    padding: 20px;
    width: 50%;
  }

  .our-contribution .highlight-box h2 {
    font-size: 32px;
  }

  .our-contribution .highlight-box p {
    font-size: 16px;
  }

  /* Style for feature mobile */
  .feature {
    flex-direction: column-reverse;
  }

  .feature .feature-text h1 {
    display: block;
  }

  /* Style for program mobile */
  .program .inner-program {
    flex-direction: column;
  }

  .program .section-title p {
    max-width: 100%;
  }

  .mentors .section-title p {
    max-width: 100%;
  }

  .program-card {
    max-width: 100%;
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* Style for testimonials mobile */
  .testimonials .testimonial-card {
    flex-direction: column;
    max-width: 100%;
  }

  /* Style for cta mobile */
  .cta .inner-cta {
    padding: 20px;
    flex-direction: column-reverse;
  }

  /* Style for footer mobile */
  .footer-nav>* {
    flex: 0 40%;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 24.375em) {
  .legal .legal-links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer-nav>* {
    flex: 1;
  }

  .nav-item-extra {
    flex-grow: 2;
  }

  .footer-address {
    flex: 1 0px;
  }

  .footer-nav {
    flex: 2 0px;
  }
}